* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    text-align: center;
}

h2 {
    margin-top: 50px; /* Adjust margin as needed */
}


body {
    font-family: Georgia, serif;
    margin: 0;
    padding: 0;
}

.round-image {
    width: 180px;
    height: 200px;
    border-radius: 100%;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

#imageUpload {
    display: block;
    margin: 20px auto;
}

.card-img-top {
    object-fit: cover;
    width: 100%;
    height: 200px; /* Adjust height as needed */
}

footer a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.software-logo {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 20px;
}

/* Style for the hobbies section */
.hobbies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

/* Style for each hobby item */
.hobby-item {
    margin: 50px;
    text-align: center;
}

/* Style for the hobby logo */
.hobby-logo {
    width: 100px; /* Adjust the width as needed */
    height: auto;
}

/* Style for the hobby name */
.hobby-name {
    margin-top: 10px;
    font-size: 14px;
}
.video-header {
    position: relative;
    height: 100vh;
    overflow: hidden;
  }
  
  .bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* fills the space while maintaining aspect ratio */
    z-index: 1;
  }
  
  .header-overlay {
    position: relative;
    z-index: 2;
    padding-top: 20vh;
  }
  
  .header-overlay h1 {
    font-size: 4rem;
    font-weight: bold;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
  }
  
  .header-overlay nav a {
    font-size: 1.2rem;
    text-decoration: none;
    padding: 0 10px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
  }
  