* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.round-image {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

#imageUpload {
    display: block;
    margin: 20px auto;
}

.card-img-top {
    object-fit: cover;
    width: 100%;
    height: 200px; /* Adjust height as needed */
}

footer a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.software-logo {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 20px;
}